## EVUniverse chatBot_with_EVUniverseKB_As_SQLDB

Source: https://python.langchain.com/en/latest/modules/chains/examples/sqlite.html

This example demonstrates the use of the `SQLDatabaseChain` for answering questions over a database. Under the hood, LangChain uses SQLAlchemy to connect to SQL databases. The SQLDatabaseChain can therefore be used with any SQL dialect supported by SQLAlchemy, such as MS SQL, MySQL, MariaDB, PostgreSQL, Oracle SQL, Databricks and SQLite. Please refer to the SQLAlchemy documentation for more information about requirements for connecting to your database. For example, a connection to MySQL requires an appropriate connector such as PyMySQL. A URI for a MySQL connection might look like: mysql+pymysql://user:pass@some_mysql_db_address/db_name.

This demonstration uses SQLite and the example Chinook database. To set it up, follow the instructions on https://database.guide/2-sample-databases-sqlite/, placing the .db file in a notebooks folder at the root of this repository.

Procedure:

1. Installs
2. Prerequisites: Imports and Global Variables
3. Initiatlize Database and LLM
4. Query Validation: Quick Test Q&A to validate that our embeddings work
5. Ask

### Installs

#### SQLITE
```
brew install sqlite
```

#### Create the Chinook DB from CSV File

Create a database called Chinook. You can do this with the following sqlite command:
```
mkdir evuniverse/sql_data
cd evuniverse/sql_data
sqlite3 Chinook.db
```

Run the following script to create the database tables and populate them with data. 
```
.read ../../misc/Chinook_Sqlite.sql
```

Once the script has finished running, you can verify that it created the database by selecting some data from a table. 
```
SELECT * FROM Artist LIMIT 10;
```

#### Create a CarListings DB from a sqlite.sql file

I used [convert_csv_to_sqlite](https://konbert.com/convert/csv/to/sqlite?file_id=210a93e8-6d96-4960-b3ad-8d0dd3e103dd) to covert my sample CSV file to a Sqlite.sql file.

```
% cd sql_data
% sqlite3 CarListings.db
```

Run the following script to create the database tables and populate them with data. 

```
.read ../misc/CarListings_Sqlite.sql
```

Once the script has finished running, you can verify that it created the database by selecting some data from a table. Validate by finding the tables
```
sqlite> .tables
mytable
```

Find your table schema

```
sqlite> .schema mytable
CREATE TABLE [mytable] (
  [Dealership] TEXT,
  [Phone] TEXT,
  [Street] TEXT,
  [City] TEXT,
  [State] TEXT,
  [ZipCode] INT,
  [Code1] TEXT,
  [Code2] TEXT,
  [VIN] TEXT,
  [YEAR] INT,
  [MAKE] TEXT,
  [MODEL] TEXT,
  [Type] TEXT,
  [SPEC] TEXT,
  [Color_Ext] TEXT,
  [Color_Int] TEXT,
  [Transmission] TEXT,
  [Code3] INT,
  [Code4] INT,
  [YEAR2] TEXT,
  [WebSite] TEXT,
  [Description] TEXT,
  [Photos] TEXT,
  [Code5] INT,
  [Last_Updated] TEXT,
  [Code7] INT,
  [Code8] INT,
  [Code9] INT
);
sqlite>
```

Find table data
```
sqlite> select * from mytable limit 10;
"Kane's Auto Sales & Service","","2150 Candia Road",Manchester,NH,3109,U,22-014,5YJSA1E22HF204432,2017,Tesla,"Model S","",90D,WHITE,"","",45639,50995,1/19/22,https://www.kanesautonh.com/vdp/18417133/Used-2017-Tesla-Model-S-100D-AWD-for-sale-in-Manchester-NH-03109,"Active Seatbelts,Air conditioning,Alarm,All Wheel ABS,AM/FM CD/MP3,CVT,Daytime Running Lights,D.....
```

Count the number of rows in the table
```
sqlite> select count (*) from mytable;
8
```

Exit
```
sqlite> .exit
% ls
  CarListings.db
```

#### Create a CarListings DB from CSV File (This has not worked for me so far)

The sqlite3 tool uses the first row of the CSV file as the names of the columns of the table.

```
% cd sql_data
% sqlite3 CarListings.db
```

Normally, we would set the mode to CSV to instruct the command-line shell program to interpret the input file as a CSV file. However, in our case, our data contains the double-quote character ("), which throws the import off.  Changing the code to use ascii mode and setting the column and row separators to semi-colon and end of line . Import the data from the csv file into the listings table.

```
sqlite> .mode ascii
sqlite> .separator ";" "\n"
sqlite> .import ../misc/SQL.csv mytable
```

Validate by finding the tables
```
sqlite> .tables
mytable
```

Find your table schema

```
sqlite> .schema mytable
CREATE TABLE IF NOT EXISTS "mytable"(
"Dealership,Phone,Street,City,State,ZipCode,Code1,Code2,VIN,YEAR,MAKE,MODEL,Type,SPEC,Color_Ext,Color_Int,Transmission,C" TEXT);e4,YEAR2,WebSite,Description,Photos,Code5,Last_Updated,Code7,Code8,Code9
sqlite>
```

Find table data
```
sqlite> select * from mytable limit 10;
"Kane's Auto Sales & Service","","2150 Candia Road",Manchester,NH,3109,U,22-014,5YJSA1E22HF204432,2017,Tesla,"Model S","",90D,WHITE,"","",45639,50995,1/19/22,https://www.kanesautonh.com/vdp/18417133/Used-2017-Tesla-Model-S-100D-AWD-for-sale-in-Manchester-NH-03109,"Active Seatbelts,Air conditioning,Alarm,All Wheel ABS,AM/FM CD/MP3,CVT,Daytime Running Lights,D.....
```

Count the number of rows in the table
```
sqlite> select count (*) from mytable;
8
```

Exit
```
sqlite> .exit
% ls
  CarListings.db
```

### 2. Prerequisites: Imports and Global Variables

In [26]:
DEBUG = False
SHOW_SQL = False
NUM_OF_ROWS = 10

CHINOOK_DB_URI = "sqlite:///../sql_data/Chinook.db"
LISTINGS_DB_URI = "sqlite:///../sql_data/CarListings.db"

In [30]:
from langchain import SQLDatabase, SQLDatabaseChain
db = SQLDatabase.from_uri(CHINOOK_DB_URI)
print(db.table_info)

CREATE TABLE "Artist" (
	"ArtistId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("ArtistId")
)

/*
3 rows from Artist table:
ArtistId	Name
1	AC/DC
2	Accept
3	Aerosmith
*/


CREATE TABLE "Employee" (
	"EmployeeId" INTEGER NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"FirstName" NVARCHAR(20) NOT NULL,
	"Title" NVARCHAR(30),
	"ReportsTo" INTEGER,
	"BirthDate" DATETIME,
	"HireDate" DATETIME,
	"Address" NVARCHAR(70),
	"City" NVARCHAR(40),
	"State" NVARCHAR(40),
	"Country" NVARCHAR(40),
	"PostalCode" NVARCHAR(10),
	"Phone" NVARCHAR(24),
	"Fax" NVARCHAR(24),
	"Email" NVARCHAR(60),
	PRIMARY KEY ("EmployeeId"),
	FOREIGN KEY("ReportsTo") REFERENCES "Employee" ("EmployeeId")
)

/*
3 rows from Employee table:
EmployeeId	LastName	FirstName	Title	ReportsTo	BirthDate	HireDate	Address	City	State	Country	PostalCode	Phone	Fax	Email
1	Adams	Andrew	General Manager	None	1962-02-18 00:00:00	2002-08-14 00:00:00	11120 Jasper Ave NW	Edmonton	AB	Canada	T5K 2N1	+1 (780) 428-9482	+1 (780) 428-3457	andrew@chinookcorp.com
2	Edwards	Nancy	Sales Manager	1	1958-12-08 00:00:00	2002-05-01 00:00:00	825 8 Ave SW	Calgary	AB	Canada	T2P 2T3	+1 (403) 262-3443	+1 (403) 262-3322	nancy@chinookcorp.com
3	Peacock	Jane	Sales Support Agent	2	1973-08-29 00:00:00	2002-04-01 00:00:00	1111 6 Ave SW	Calgary	AB	Canada	T2P 5M5	+1 (403) 262-3443	+1 (403) 262-6712	jane@chinookcorp.com
*/


CREATE TABLE "Genre" (
	"GenreId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("GenreId")
)

/*
3 rows from Genre table:
GenreId	Name
1	Rock
2	Jazz
3	Metal
*/


CREATE TABLE "MediaType" (
	"MediaTypeId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("MediaTypeId")
)

/*
3 rows from MediaType table:
MediaTypeId	Name
1	MPEG audio file
2	Protected AAC audio file
3	Protected MPEG-4 video file
*/


CREATE TABLE "Playlist" (
	"PlaylistId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("PlaylistId")
)

/*
3 rows from Playlist table:
PlaylistId	Name
1	Music
2	Movies
3	TV Shows
*/


CREATE TABLE "Album" (
	"AlbumId" INTEGER NOT NULL,
	"Title" NVARCHAR(160) NOT NULL,
	"ArtistId" INTEGER NOT NULL,
	PRIMARY KEY ("AlbumId"),
	FOREIGN KEY("ArtistId") REFERENCES "Artist" ("ArtistId")
)

/*
3 rows from Album table:
AlbumId	Title	ArtistId
1	For Those About To Rock We Salute You	1
2	Balls to the Wall	2
3	Restless and Wild	2
*/


CREATE TABLE "Customer" (
	"CustomerId" INTEGER NOT NULL,
	"FirstName" NVARCHAR(40) NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"Company" NVARCHAR(80),
	"Address" NVARCHAR(70),
	"City" NVARCHAR(40),
	"State" NVARCHAR(40),
	"Country" NVARCHAR(40),
	"PostalCode" NVARCHAR(10),
	"Phone" NVARCHAR(24),
	"Fax" NVARCHAR(24),
	"Email" NVARCHAR(60) NOT NULL,
	"SupportRepId" INTEGER,
	PRIMARY KEY ("CustomerId"),
	FOREIGN KEY("SupportRepId") REFERENCES "Employee" ("EmployeeId")
)

/*
3 rows from Customer table:
CustomerId	FirstName	LastName	Company	Address	City	State	Country	PostalCode	Phone	Fax	Email	SupportRepId
1	Luís	Gonçalves	Embraer - Empresa Brasileira de Aeronáutica S.A.	Av. Brigadeiro Faria Lima, 2170	São José dos Campos	SP	Brazil	12227-000	+55 (12) 3923-5555	+55 (12) 3923-5566	luisg@embraer.com.br	3
2	Leonie	Köhler	None	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	+49 0711 2842222	None	leonekohler@surfeu.de	5
3	François	Tremblay	None	1498 rue Bélanger	Montréal	QC	Canada	H2G 1A7	+1 (514) 721-4711	None	ftremblay@gmail.com	3
*/


CREATE TABLE "Invoice" (
	"InvoiceId" INTEGER NOT NULL,
	"CustomerId" INTEGER NOT NULL,
	"InvoiceDate" DATETIME NOT NULL,
	"BillingAddress" NVARCHAR(70),
	"BillingCity" NVARCHAR(40),
	"BillingState" NVARCHAR(40),
	"BillingCountry" NVARCHAR(40),
	"BillingPostalCode" NVARCHAR(10),
	"Total" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("InvoiceId"),
	FOREIGN KEY("CustomerId") REFERENCES "Customer" ("CustomerId")
)

/*
3 rows from Invoice table:
InvoiceId	CustomerId	InvoiceDate	BillingAddress	BillingCity	BillingState	BillingCountry	BillingPostalCode	Total
1	2	2009-01-01 00:00:00	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	1.98
2	4	2009-01-02 00:00:00	Ullevålsveien 14	Oslo	None	Norway	0171	3.96
3	8	2009-01-03 00:00:00	Grétrystraat 63	Brussels	None	Belgium	1000	5.94
*/


CREATE TABLE "Track" (
	"TrackId" INTEGER NOT NULL,
	"Name" NVARCHAR(200) NOT NULL,
	"AlbumId" INTEGER,
	"MediaTypeId" INTEGER NOT NULL,
	"GenreId" INTEGER,
	"Composer" NVARCHAR(220),
	"Milliseconds" INTEGER NOT NULL,
	"Bytes" INTEGER,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("TrackId"),
	FOREIGN KEY("MediaTypeId") REFERENCES "MediaType" ("MediaTypeId"),
	FOREIGN KEY("GenreId") REFERENCES "Genre" ("GenreId"),
	FOREIGN KEY("AlbumId") REFERENCES "Album" ("AlbumId")
)

/*
3 rows from Track table:
TrackId	Name	AlbumId	MediaTypeId	GenreId	Composer	Milliseconds	Bytes	UnitPrice
1	For Those About To Rock (We Salute You)	1	1	1	Angus Young, Malcolm Young, Brian Johnson	343719	11170334	0.99
2	Balls to the Wall	2	2	1	None	342562	5510424	0.99
3	Fast As a Shark	3	2	1	F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman	230619	3990994	0.99
*/


CREATE TABLE "InvoiceLine" (
	"InvoiceLineId" INTEGER NOT NULL,
	"InvoiceId" INTEGER NOT NULL,
	"TrackId" INTEGER NOT NULL,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	"Quantity" INTEGER NOT NULL,
	PRIMARY KEY ("InvoiceLineId"),
	FOREIGN KEY("TrackId") REFERENCES "Track" ("TrackId"),
	FOREIGN KEY("InvoiceId") REFERENCES "Invoice" ("InvoiceId")
)

/*
3 rows from InvoiceLine table:
InvoiceLineId	InvoiceId	TrackId	UnitPrice	Quantity
1	1	2	0.99	1
2	1	4	0.99	1
3	2	6	0.99	1
*/


CREATE TABLE "PlaylistTrack" (
	"PlaylistId" INTEGER NOT NULL,
	"TrackId" INTEGER NOT NULL,
	PRIMARY KEY ("PlaylistId", "TrackId"),
	FOREIGN KEY("TrackId") REFERENCES "Track" ("TrackId"),
	FOREIGN KEY("PlaylistId") REFERENCES "Playlist" ("PlaylistId")
)

/*
3 rows from PlaylistTrack table:
PlaylistId	TrackId
1	3402
1	3389
1	3390
*/

In [32]:
from langchain import SQLDatabase, SQLDatabaseChain
db = SQLDatabase.from_uri(LISTINGS_DB_URI)
print(db.table_info)

CREATE TABLE mytable (
	"Dealership" TEXT,
	"Phone" TEXT,
	"Street" TEXT,
	"City" TEXT,
	"State" TEXT,
	"ZipCode" INTEGER,
	"Code1" TEXT,
	"Code2" TEXT,
	"VIN" TEXT,
	"YEAR" INTEGER,
	"MAKE" TEXT,
	"MODEL" TEXT,
	"Type" TEXT,
	"SPEC" TEXT,
	"Color_Ext" TEXT,
	"Color_Int" TEXT,
	"Transmission" TEXT,
	"Code3" INTEGER,
	"Code4" INTEGER,
	"YEAR2" TEXT,
	"WebSite" TEXT,
	"Description" TEXT,
	"Photos" TEXT,
	"Code5" INTEGER,
	"Last_Updated" TEXT,
	"Code7" INTEGER,
	"Code8" INTEGER,
	"Code9" INTEGER
)

/*
3 rows from mytable table:
Dealership	Phone	Street	City	State	ZipCode	Code1	Code2	VIN	YEAR	MAKE	MODEL	Type	SPEC	Color_Ext	Color_Int	Transmission	Code3	Code4	YEAR2	WebSite	Description	Photos	Code5	Last_Updated	Code7	Code8	Code9
Kane's Auto Sales & Service		2150 Candia Road	Manchester	NH	3109	U	22-014	5YJSA1E22HF204432	2017	Tesla	Model S		90D	WHITE			45639	50995	1/19/22	https://www.kanesautonh.com/vdp/18417133/Used-2017-Tesla-Model-S-100D-AWD-for-sale-in-Manchester-NH-	Active Seatbelts,Air conditioning,Alarm,All Wheel ABS,AM/FM CD/MP3,CVT,Daytime Running Lights,Dual A	https://imagescdn.dealercarsearch.com/Media/12658/18417133/638151891598833088.jpg,https://imagescdn.	114830	Jun  1 2023  9:40AM	499	6	15000
Auto Access McBride,Inc	18566919008	1903 South Delsea Drive	VINELAND	NJ	8360	U	F298764	5YJXCDE48LF298764	2020	Tesla	Model X	sport utility vehicle	Performance				5690	129900	6/9/21	https://autoaccessmcbride.com/inventory/2020-tesla-model-x-p100d-sold-2/	Active Belts,Anti-Lock Brakes,Automatic Passenger Sensor (for passenger air bag),Dual Air Bags Front	https://autoaccessmcbride.com/wp-content/uploads/sites/10/5YJXCDE48LF298764-1.jpg?3adc2f01cb736f2b59	121388	Jun  2 2023 12:38AM	723	0	-10000
Auto Access McBride,Inc	18566919008	1903 South Delsea Drive	VINELAND	NJ	8360	U	F161528	5YJXCBE49KF161528	2019	Tesla	Model X	sport utility vehicle	Performance	black	black	automatic	9367	114900	5/11/21	https://autoaccessmcbride.com/inventory/2019-tesla-model-x-sold-2/	Active Belts,Anti-Lock Brakes,automatic,Automatic Passenger Sensor (for passenger air bag),Dual Air 	https://autoaccessmcbride.com/wp-content/uploads/sites/10/5YJXCBE49KF161528.jpg?2870b8940cb86ae7d09d	121388	Jun  2 2023 12:38AM	752	0	0
*/

### 3. Initiatlize Database and LLM

- `use_query_checker=True`: Sometimes the Language Model generates invalid SQL with small mistakes that can be self-corrected using the same technique used by the SQL Database Agent to try and fix the SQL using the LLM. You can simply specify this option when creating the chain: 
- `prompt=PROMPT`: You can also customize the prompt that is used
- `return_intermediate_steps=True`: You can also return the intermediate steps of the SQLDatabaseChain. This allows you to access the SQL statement that was generated, as well as the result of running that against the SQL Database.
- `top_k=NUM_OF_ROWS`: If you are querying for several rows of a table you can select the maximum number of results you want to get by using the 'top_k' parameter (default is 10). This is useful for avoiding query results that exceed the prompt max length or consume tokens unnecessarily.

In [34]:
from langchain import SQLDatabase, SQLDatabaseChain
from langchain.prompts.prompt import PromptTemplate
from langchain import OpenAI as lcOpenAI

def answerMeSQL(question, db_uri = LISTINGS_DB_URI, showSQL = SHOW_SQL, debug = DEBUG):
    # Load Database and Large Language Model

    db = SQLDatabase.from_uri(db_uri)
    # print(db_uri)
    # print(db.table_info)
    
    
    llm = lcOpenAI(temperature=0, verbose=debug)

    _DEFAULT_TEMPLATE = """Given an input question, first create a syntactically correct {dialect} query to run, then look at the results of the query and return the answer.
    Use the following format:

    Question: "Question here"
    SQLQuery: "SQL Query to run"
    SQLResult: "Result of the SQLQuery"
    Answer: "Final answer here"

    Only use the following tables:

    {table_info}

    If someone asks for the table foobar, they really mean the employee table.

    Question: {input}"""
    PROMPT = PromptTemplate(
        input_variables=["input", "table_info", "dialect"], template=_DEFAULT_TEMPLATE
    )

    db_chain = SQLDatabaseSequentialChain.from_llm(
        llm, 
        db, 
        query_prompt=PROMPT, 
        top_k=NUM_OF_ROWS, 
        use_query_checker=True, 
        verbose=debug, 
        return_intermediate_steps=SHOW_SQL
    )
        
    
    result=db_chain.run(question)
    
    print ("query: " + question)
    print ("result: " + result)

### 4. Query

In [37]:
answerMeSQL("How many Teslas are there in mytable?", showSQL=True, debug=True)

> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['mytable']

> Entering new SQLDatabaseChain chain...
How many Teslas are there in mytable?
SQLQuery:SELECT COUNT(*) FROM mytable WHERE MAKE = 'Tesla';
SQLResult: [(4,)]
Answer:There are 4 Teslas in mytable.
> Finished chain.

> Finished chain.
query: How many Teslas are there in mytable?
result: There are 4 Teslas in mytable.

In [38]:
answerMeSQL("How many Teslas are there?", showSQL=True, debug=True)

> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['mytable']

> Entering new SQLDatabaseChain chain...
How many Teslas are there?
SQLQuery:SELECT COUNT(*) FROM mytable WHERE MAKE = 'Tesla';
SQLResult: [(4,)]
Answer:There are 4 Teslas.
> Finished chain.

> Finished chain.
query: How many Teslas are there?
result: There are 4 Teslas.

In [39]:
answerMeSQL("What kind of Teslas are there?", showSQL=True, debug=True)

> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['mytable']

> Entering new SQLDatabaseChain chain...
What kind of Teslas are there?
SQLQuery:SELECT DISTINCT MAKE, MODEL FROM mytable WHERE MAKE = 'Tesla';
SQLResult: [('Tesla', 'Model S'), ('Tesla', 'Model X')]
Answer:There are two types of Teslas: Model S and Model X.
> Finished chain.

> Finished chain.
query: What kind of Teslas are there?
result: There are two types of Teslas: Model S and Model X.

In [41]:
answerMeSQL("Can you share links to the Teslas in mytable?", showSQL=True, debug=True)

> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['mytable']

> Entering new SQLDatabaseChain chain...
Can you share links to the Teslas in mytable?
SQLQuery:SELECT VIN, WebSite FROM mytable WHERE MAKE = 'Tesla';
SQLResult: [('5YJSA1E22HF204432', 'https://www.kanesautonh.com/vdp/18417133/Used-2017-Tesla-Model-S-100D-AWD-for-sale-in-Manchester-NH-03109'), ('5YJXCDE48LF298764', 'https://autoaccessmcbride.com/inventory/2020-tesla-model-x-p100d-sold-2/'), ('5YJXCBE49KF161528', 'https://autoaccessmcbride.com/inventory/2019-tesla-model-x-sold-2/'), ('5YJXCDE46KF185426', 'https://autoaccessmcbride.com/inventory/2019-tesla-model-x-sold-3/')]
Answer:The links to the Teslas in mytable are https://www.kanesautonh.com/vdp/18417133/Used-2017-Tesla-Model-S-100D-AWD-for-sale-in-Manchester-NH-03109, https://autoaccessmcbride.com/inventory/2020-tesla-model-x-p100d-sold-2/, https://autoaccessmcbride.com/inventory/2019-tesla-model-x-sold-2/, and https://autoaccessmcbride.com/inventory/2019-tesla-model-x-sold-3/.
> Finished chain.

> Finished chain.
query: Can you share links to the Teslas in mytable?
result: The links to the Teslas in mytable are https://www.kanesautonh.com/vdp/18417133/Used-2017-Tesla-Model-S-100D-AWD-for-sale-in-Manchester-NH-03109, https://autoaccessmcbride.com/inventory/2020-tesla-model-x-p100d-sold-2/, https://autoaccessmcbride.com/inventory/2019-tesla-model-x-sold-2/, and https://autoaccessmcbride.com/inventory/2019-tesla-model-x-sold-3/.

In [43]:
answerMeSQL("Can you give me more information on the Teslas?", showSQL=True, debug=True)

> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['mytable']

> Entering new SQLDatabaseChain chain...
Can you give me more information on the Teslas?
SQLQuery:SELECT * FROM mytable WHERE MAKE = 'Tesla';
SQLResult: [("Kane's Auto Sales & Service", '', '2150 Candia Road', 'Manchester', 'NH', 3109, 'U', '22-014', '5YJSA1E22HF204432', 2017, 'Tesla', 'Model S', '', '90D', 'WHITE', '', '', 45639, 50995, '1/19/22', 'https://www.kanesautonh.com/vdp/18417133/Used-2017-Tesla-Model-S-100D-AWD-for-sale-in-Manchester-NH-03109', 'Active Seatbelts,Air conditioning,Alarm,All Wheel ABS,AM/FM CD/MP3,CVT,Daytime Running Lights,Dual Airbags Front Head and Side,Dual Rear Side Airbag,IMMOBILIZER,Keyless Entry,Passenger Airbag Sensor,Power Locks,Power steering,Power windows,Satellite,Tilt Wheel', 'https://imagescdn.dealercarsearch.com/Media/12658/18417133/638151891598833088.jpg,https://imagescdn.dealercarsearch.com/Media/12658/18417133/638151891598833088.jpg,https://imagescdn.dealercarsearch.com/Media/12658/18417133/638151891598833115.jpg,https://imagescdn.dealercarsearch.com/Media/12658/1...', 114830, 'Jun  1 2023  9:40AM', 499, 6, 15000), ('Auto Access McBride,Inc', '18566919008', '1903 South Delsea Drive', 'VINELAND', 'NJ', 8360, 'U', 'F298764', '5YJXCDE48LF298764', 2020, 'Tesla', 'Model X', 'sport utility vehicle', 'Performance', '', '', '', 5690, 129900, '6/9/21', 'https://autoaccessmcbride.com/inventory/2020-tesla-model-x-p100d-sold-2/', 'Active Belts,Anti-Lock Brakes,Automatic Passenger Sensor (for passenger air bag),Dual Air Bags Front Head and Side,Rear Dual Side Air Bags', 'https://autoaccessmcbride.com/wp-content/uploads/sites/10/5YJXCDE48LF298764-1.jpg?3adc2f01cb736f2b594cffb72f336761,https://autoaccessmcbride.com/wp-content/uploads/sites/10/5YJXCDE48LF298764-1.jpg?3adc2f01cb736f2b594cffb72f336761,https://autoaccessmcbride.com/wp-content/uploads/sites/10/5YJXCDE48...', 121388, 'Jun  2 2023 12:38AM', 723, 0, -10000), ('Auto Access McBride,Inc', '18566919008', '1903 South Delsea Drive', 'VINELAND', 'NJ', 8360, 'U', 'F161528', '5YJXCBE49KF161528', 2019, 'Tesla', 'Model X', 'sport utility vehicle', 'Performance', 'black', 'black', 'automatic', 9367, 114900, '5/11/21', 'https://autoaccessmcbride.com/inventory/2019-tesla-model-x-sold-2/', 'Active Belts,Anti-Lock Brakes,automatic,Automatic Passenger Sensor (for passenger air bag),Dual Air Bags Front Head and Side,Rear Dual Side Air Bags', 'https://autoaccessmcbride.com/wp-content/uploads/sites/10/5YJXCBE49KF161528.jpg?2870b8940cb86ae7d09da77775ca8596,https://autoaccessmcbride.com/wp-content/uploads/sites/10/5YJXCBE49KF161528-1.jpg?2870b8940cb86ae7d09da77775ca8596,https://autoaccessmcbride.com/wp-content/uploads/sites/10/5YJXCBE49KF...', 121388, 'Jun  2 2023 12:38AM', 752, 0, 0), ('Auto Access McBride,Inc', '18566919008', '1903 South Delsea Drive', 'VINELAND', 'NJ', 8360, 'U', 'F185426', '5YJXCDE46KF185426', 2019, 'Tesla', 'Model X', 'sport utility vehicle', 'Performance', '', '', '', 18465, 85900, '11/8/21', 'https://autoaccessmcbride.com/inventory/2019-tesla-model-x-sold-3/', 'Active Belts,Anti-Lock Brakes,Automatic Passenger Sensor (for passenger air bag),Dual Air Bags Front Head and Side,Rear Dual Side Air Bags', 'https://autoaccessmcbride.com/wp-content/uploads/sites/10/5YJXCDE46KF185426-1.jpg?b76ef46753c0de7e678e23a2fe5e2403', 121388, 'Jun  2 2023 12:38AM', 571, 0, 0)]
Answer:There are three Teslas available: a 2017 Tesla Model S, a 2020 Tesla Model X, and a 2019 Tesla Model X.
> Finished chain.

> Finished chain.
query: Can you give me more information on the Teslas?
result: There are three Teslas available: a 2017 Tesla Model S, a 2020 Tesla Model X, and a 2019 Tesla Model X.

In [36]:
answerMeSQL("What are some example tracks by Bach?", db_uri = CHINOOK_DB_URI)

query: What are some example tracks by Bach?
result: Tracks by Bach include American Woman, Concerto for 2 Violins in D Minor, BWV 1043: I. Vivace, Aria Mit 30 Veränderungen, BWV 988 "Goldberg Variations": Aria, Suite for Solo Cello No. 1 in G Major, BWV 1007: I. Prélude, Toccata and Fugue in D Minor, BWV 565: I. Toccata, Concerto No.2 in F Major, BWV1047, I. Allegro, Suite No. 3 in D, BWV 1068: III. Gavotte I & II, and Partita in E Major, BWV 1006A: I. Prelude.

In [ ]:
answerMeSQL("How many employees are there in the employee table?", db_uri = CHINOOK_DB_URI)

In [ ]:
answerMeSQL("How many employees are there?", db_uri = CHINOOK_DB_URI)

In [ ]:
answerMeSQL("How many customers are from Brazil?", db_uri = CHINOOK_DB_URI)

In [ ]:
answerMeSQL("How many albums by Aerosmith?", db_uri = CHINOOK_DB_URI)

In [ ]:
answerMeSQL("What are some example tracks by composer Johann Sebastian Bach?", db_uri = CHINOOK_DB_URI, , debug=True)